<mat-toolbar>
  <span>This is the user managing dashboard.</span>
</mat-toolbar>

<nav class="btn-group btn-group-toggle m-2">
  <button class="btn btn-success" routerLink="/users/list" >List Users</button>
  <button class="btn btn-success" routerLink="/users/add" >Add User</button>
  <button class="btn btn-success" routerLink="/users/delete" >Delete User</button>
  <button class="btn btn-success" routerLink="/users/update" >Update User</button>
  <button class="btn btn-success" routerLink="/users/filter" >Filter Users</button>
  <button class="btn btn-success" routerLink="/users/sort" >Sorted Users</button>
</nav>

<button style="display: block" mat-raised-button color="primary" class="m-2" routerLink="/home" routerLinkActive="active">Go back</button>

