<mat-toolbar>
  <span>This is the song managing dashboard.</span>
</mat-toolbar>

<nav class="btn-group btn-group-toggle m-2">
  <button class="btn btn-success" routerLink="/songs/list" >List Songs</button>
<!--  <button class="btn btn-success" routerLink="/songs/add" >Add Song</button>-->
<!--  <button class="btn btn-success" routerLink="/songs/delete" >Delete Song</button>-->
<!--  <button class="btn btn-success" routerLink="/songs/update" >Update Song</button>-->
<!--  <button class="btn btn-success" routerLink="/songs/filter" >Filter Songs</button>-->
<!--  <button class="btn btn-success" routerLink="/songs/sort" >Sorted Songs</button>-->
</nav>



<button style="display: block" mat-raised-button color="primary" class="m-2" routerLink="/home" routerLinkActive="active">Go back</button>
