<div class="container m-2">
  <h2>Filter users:</h2>

  <input class="m-2 form-control"  type="text" #name placeholder="Name" (input)="filterUsers(name.value)">

  <br>

  <table class="table table-hover m-2">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="errorHappened">
    <p>Unsuccessful filter</p>
  </div>


  <button mat-raised-button color="primary" class="m-2" routerLink="/users" routerLinkActive="active">Go back</button>

</div>



