<h1 class="m-2">This is the artist managing dashboard.</h1>

<nav class="btn-group btn-group-toggle m-2">
  <button class="btn btn-success" routerLink="/artists/list" >List Artists</button>
  <button class="btn btn-success" routerLink="/artists/add" >Add Artist</button>
  <button class="btn btn-success" routerLink="/artists/filter" >Filter Artists</button>
  <button class="btn btn-success" routerLink="/artists/sort" >Sort Artists</button>
</nav>

<button style="display: block" mat-raised-button color="primary" class="m-2" routerLink="/home" routerLinkActive="active">Go back</button>
