<mat-toolbar>
  <span>These are users with their activity:</span>
</mat-toolbar>


<table mat-table [dataSource]="songs" class="mat-elevation-z8 m-2">

  <!-- user Column -->
  <ng-container matColumnDef="song">
    <th mat-header-cell *matHeaderCellDef> song </th>
    <td mat-cell *matCellDef="let element"> {{element.song.details.title}} </td>
  </ng-container>

  <!-- activity Column -->
  <ng-container matColumnDef="average">
    <th mat-header-cell *matHeaderCellDef> average </th>
    <td mat-cell *matCellDef="let element"> {{element.average}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" class="m-2" routerLink="/reviews" routerLinkActive="active">Go back</button>

